body{
    background-color: #bde673;
}

div img{
    width: 10vw;
    transition: transform 0.5s;
}

#main{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 98vh;
}

.cardHolder{
    display: flex;
    align-items: center;
}

.cardHolder.player{
    align-items: flex-end;
}

.cardHolder.computer{
    justify-content: flex-end;
    position: fixed;
    right: 10px
}

.cards{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 15px;
}

.cards.pc{
    background-color: #5a9c4a;
}

.cards.user{
    background-color: #415a20;
}

.card{
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position:relative;
    display: flex;
    align-self: center;
    text-align: center;
    margin: 5px;
    font-size: 2vw;
}

img.bottom{
    transform: rotateY(180deg) ;
    backface-visibility: hidden;
}

img.top{
    backface-visibility: hidden;
    position: absolute
}

.is-flipped{
    transform: rotateY(180deg);
    transition: transform 1s;
 }

.is-flipped:hover{
    transform: translateY(25%) rotateY(180deg);
}
  
.is-not-flipped:hover{
    transform: translateY(25%)
}

.card.human:hover{
    transform: translateY(-25%)
}
   


.button{
    font-family: 'Pokemon Solid', sans-serif;
    position: fixed;
    top: 44%;
    left: 40%;
    letter-spacing: 10px;
    padding: 5px;
    background-color: #bde673;
    color: #9c8b31;
    font-size: 5vw;
    border: none;

}

/*Chart CSS*/


.container {
    width: 50vw;
    height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

 
.flex-container {
    width: 25vw;
    position: fixed;
    top: 85px;
    left: 30px;


}

.hidden {
    display: none;
}


