.button{
    align-self: center;
    font-family: 'Pokemon Solid', sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    letter-spacing: 10px;
    padding: 5px;
    color:  #f6bd20;
    font-size: 5vw;
}

.button:hover{
    color: rgb(246, 230, 82);;
}