.button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: 'Pokemon Solid', sans-serif;
    position: fixed; 
    top:45%;
    left:40%;
    letter-spacing: 10px;
    padding: 5px;
    color:  #f6bd20;
    font-size: 5vw;
}

.button:hover{
    color: rgb(246, 230, 82);;
}