.container {
    width: 50vw;
    height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#computerChart{
    transform: rotateX(180deg)
}



