body{
    background-image: linear-gradient(to bottom left,rgb(32, 148, 131),#317b52);
    background-repeat: no-repeat;
    overflow:hidden;
    height: 100vh;

}

#main{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 98vh;
}