/*pc*/
@media (min-width: 1025px) and (max-width:1600px){
 
}

/*Tablet*/
@media (min-width: 600px) and (max-width: 1024px){
    .contentHolder{
        flex-direction: column-reverse;
    }
    .cardHolder{
        width:-webkit-fill-available;
        justify-content: center;
    }
    .cards{
        justify-content: space-around;
        align-self: center;
    }
    .card{
        margin-left: 2px;
        margin-right:2px;
    }
    #contentTop,#contentBottom{
        margin-left: 0vw;
        margin-right: 0vw;
    }
    .card, img.bottom, img.top, div img{
        width: calc((100vw - 68px) / 6)
    }
    .container{
        align-self: center;
    }
    canvas {
        /*height: calc(100vw - 20px) !important;*/
        width: calc(100vw - 20px) !important;
        height: 15vh !important;
    }
    #playerScore {
        margin-bottom: 30px;
    }
    #computerScore{
        margin-top: 30px;
    }
    #textHolder{
        height: 15vh
    }
    .enlarge{
        font-size: 7vw;
    }
    .small{
        font-size: 5vw;
    }
    .visuallyHidden{
        opacity: 100;
    }
}

@media (min-width: 481px) and (max-width: 599px){
    .contentHolder{
        flex-direction: column-reverse;
    }
    .cardHolder{
        width:-webkit-fill-available;
        justify-content: center;
    }
    .cards{
        justify-content: space-around;
        align-self: center;
    }
    .card{
        margin-left: 2px;
        margin-right:2px;
    }
    #contentTop,#contentBottom{
        margin-left: 0vw;
        margin-right: 0vw;
    }
    .card, img.bottom, img.top, div img{
        width: calc((100vw - 68px) / 6)
    }
    .container{
        align-self: center;
    }
    canvas {
        /*height: calc(100vw - 20px) !important;*/
        width: calc(100vw - 20px) !important;
        height: 15vh !important;
    }
    #playerScore {
        margin-bottom: 30px;
    }
    #computerScore{
        margin-top: 30px;
    }
    #textHolder{
        height: 15vh
    }
    .enlarge{
        font-size: 7vw;
    }
    .small{
        font-size: 5vw;
    }
    .visuallyHidden{
        opacity: 100;
    }
}

/*can i add a modifier?*/
/*Phone*/
@media (max-width: 480px){
    body{
        display: flex;
        align-items: center;
        height: 100vh;
    }
    #main{
        height: calc(80vh);
    }
    .contentHolder{
        flex-direction: column-reverse;
    }
    .cardHolder{
        width:-webkit-fill-available;
        justify-content: center;
    }
    .cards{
        justify-content: space-evenly;
        align-self: center;
        padding: 2px;
    }
    
    .player, .human{
        transform: rotateX(180deg) !important;
    }
    .human:hover{
        transform:rotateX(180deg) translateY(-25%) !important
    }
    #contentTop{
        margin-left: 0vw;
        margin-right: 0vw;
    }
    #contentBottom{
        margin-left: 0vw;
        margin-right: 0vw;
    }
    .card, img.bottom, img.top, div img{
        width: calc((100vw - 68px) / 4)
    }
    .container{
        align-self: center;
    }
    canvas {
        /*height: calc(100vw - 20px) !important;*/
        width: calc(100vw - 20px) !important;
        height: 10vh !important;
    }
    #playerScore {
        margin-bottom: 20px;
    }
    #computerScore{
        margin-top: 20px;
    }
    #textHolder{
        height: 20vh
    }
    .enlarge{
        font-size: 3vw;
    }
    .small{
        font-size: 3vw;
    }
    .power{
        font-size: 3vw;
    }
    .visuallyHidden{
        opacity: 0;
        font-size: 0vw;
    }

.visuallyHidden{
    opacity: 100;
}
}
@media (max-height: 667px) and (max-width: 480px){
    body{
        display: flex;
        align-items: center;
        height: 100vh;
    }
    #main{
        height: calc(80vh);
    }
.contentHolder{
    flex-direction: column-reverse;
}
.cardHolder{
    width:-webkit-fill-available;
    justify-content: center;
}
.cards{
    justify-content: space-evenly;
    align-self: center;
    padding: 2px;
}

.player, .human{
    transform: rotateX(180deg) !important;
}
.human:hover{
    transform:rotateX(180deg) translateY(-25%) !important
}
#contentTop{
    margin-left: 0vw;
    margin-right: 0vw;
}
#contentBottom{
    margin-left: 0vw;
    margin-right: 0vw;
}
.card, img.bottom, img.top, div img{
    width: calc((100vw - 68px) / 4)
}
.container{
    align-self: center;
}
canvas {
    /*height: calc(100vw - 20px) !important;*/
    width: calc(100vw - 20px) !important;
    height: 10vh !important;
}
#playerScore {
    margin-bottom: 20px;
}
#computerScore{
    margin-top: 20px;
}
#textHolder{
    height: 10vh
}
.enlarge{
    font-size: 3vw;
}
.small{
    font-size: 3vw;
}
.power{
    font-size: 3vw;
}
.visuallyHidden{
    opacity: 0;
    font-size: 0vw;
}

.visuallyHidden{
opacity: 100;
}
}